<a href="https://colab.research.google.com/github/HEMA-55/HEMA-55/blob/main/python_basics_practice%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
if x < 5:
    print( x)
print (5)

NameError: name 'x' is not defined

In [ ]:
import collections
collections.namedtuple?

In [ ]:
import numpy as np
np.*mean*?

In [ ]:
print ("hi")

hi

In [ ]:
%history

if x < 5:
    print x
print 5
if x < 5:
    print( x)
print (5)
import collections
collections.namedtuple?
import datastructure
datastructure.namedtuple?
import collections
collections.namedtuple?
import numpy as np
np.*mean*?
import numpy as np
np.*mean*?


print "hi"
print "hi"
print (hi)
print ("hi")
%history

In [ ]:
i = 5
a =7
i ='pavani'
print ('Value is ', i) # Error! Notice a single space at the start of the li
print ('I repeat, the value is ', i)

Value is  pavani
I repeat, the value is  pavani

In [ ]:
# this is a single line comment
'''
print("We are in a comment")
print ("We are still in a comment")
'''
'''
print("We are out of the comment")
'''
'''
print("hema")
'''

'\nprint("hema")\n'

In [ ]:
'''
for hema in alist:
    if hema < anumber:
            print(hema)
    else:
        print(-pavani)

is similar to

for x in alist
{if x < anumber  {
        print(x)
    }
    else
    {
        print(-x)
    }
}
'''

'\nfor hema in alist:\n    if hema < anumber:\n            print(hema)\n    else:\n        print(-pavani)\n        \nis similar to\n\nfor x in alist \n{if x < anumber  {\n        print(x)\n    }\n    else\n    {\n        print(-x)\n    }\n}\n'

In [ ]:
if 4 < 5:
  print (4)
print (5)

4
5

In [ ]:
x = 21
y =25
print (x)
if x<10:
    print (x)

    print (y)

21

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = 'Ajay'        # A string

print (counter)
print (miles)
print (name)

a = 11111
b = 2.0
c = "0"
d = "2"
print(b + a)
print(c  + d)

100
1000.0
Ajay
11113.0
02

In [ ]:
str = 'Hello World'
print (str)    # prints complete string
print (str[0]) # prints first character of string
print (str[2:5])  #prints characters starting from 3rd to 5th
print (str[2:])    #prints string starting from 3rd character
print ((str*11))    #prints string two times
print (str + "TEST")   # prints concatenated string

Hello World
H
llo
llo World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
Hello WorldTEST

In [ ]:

str ="hello"
print(str[-1])

a = 'this is a string'
b = a.replace('string','longer string')
print(a)
print(b)

a = '20'
anum = int(a)
print(anum + anum)

a = "10"
anum = int(a)
print(anum)

o
this is a string
this is a longer string
40
10

In [ ]:
a = "hi"
print (a)
print (len(a))

hi
2

In [ ]:
string = "This is python"
strlist = list(string)
print(strlist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
format = '%.2f %s is $%d'
format %(83.5560,'Indian Rupees',1)

'83.56 Indian Rupees is $1'

In [ ]:
print (string.count('s'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

In [ ]:
str1 = "    This is a bright, sunny day      "
print (str1.strip())
print (str1.lstrip())
print (str1.rstrip())
print (":".join(str1))
print (len(str1))

This is a bright, sunny day
This is a bright, sunny day
    This is a bright, sunny day
 : : : :T:h:i:s: :i:s: :a: :b:r:i:g:h:t:,: :s:u:n:n:y: :d:a:y: : : : : :
37

In [ ]:

school = 'ISB'
print ('S' in school)
'L' in school

True

False

In [ ]:
 x='X-DSPAM-Confidence:   0.9032'
pos = x.find(':')
num=float(x[pos+1:])
print (num, type(num))

0.9032 <class 'float'>

In [ ]:
#Let us do some exercises
#1
#Given below string, get first 10 characters, and last 10 characters.
#Now join them to form a new string

str = 'Hey how are you doing. We are doing good'
print (str[0:10], str[-10:])

Hey how ar doing good

In [ ]:
#Consider two strings x and y
x = 'Confusing'
y = 'Strings'
str = 'con_str'
print(str)
#Swap first three characters of each string and join them by an _

con_str

In [ ]:

list = [ 'abcd', 786 , 2.23, 'ISB', 70.2 ]
tinylist = [123, 'ISB']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
print (len(list))

['abcd', 786, 2.23, 'ISB', 70.2]
abcd
[786, 2.23]
[2.23, 'ISB', 70.2]
[123, 'ISB', 123, 'ISB']
['abcd', 786, 2.23, 'ISB', 70.2, 123, 'ISB']
5

In [ ]:
alist = [ 'abcd', 786 , 2.23, 'ISB', 70.2 ]
blist = alist
alist = alist*2
print (alist)

['abcd', 786, 2.23, 'ISB', 70.2, 'abcd', 786, 2.23, 'ISB', 70.2]

In [ ]:
list = ['Ajay', 'Vijay', 'Ramesh']
list.append('Sujay')
list.insert(0, 'NewGuy')
list.extend(['Guy1', 'Guy2'])
print (list)
print (list.index('Guy1') )
list.remove('Guy1')
list.pop(1)
print (list)

['NewGuy', 'Ajay', 'Vijay', 'Ramesh', 'Sujay', 'Guy1', 'Guy2']
5
['NewGuy', 'Vijay', 'Ramesh', 'Sujay', 'Guy2']

In [ ]:
#Sorting
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort()
print(numberlist)
print (len(numberlist))
print ( max(numberlist))
print (min(numberlist))

[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
13
87
1

In [ ]:
string = ['abcd', 'efg', 'hijk', 'lmn']
print (sorted(string, key=len))

['efg', 'lmn', 'abcd', 'hijk']

In [ ]:
#You can even pass your own function
string = ['abcg', 'eff', 'hijd', 'lmi']

def func1(l):
    return l[-1]

print (sorted(string, key=func1))

['hijd', 'eff', 'abcg', 'lmi']

In [1]:
string = ['abcg', 'eff', 'hijd', 'lmi']

def func1(l):
    return l[-2]

print (sorted(string, key=func1))

['abcg', 'eff', 'hijd', 'lmi']

In [2]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"
tinydict = {'name': 'isb','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'isb', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['isb', 6734, 'sales'])

In [1]:
a = 6
b = 7
c = 42
print (1, a == 6)
print (2, a == 7)
print (3, a == 6 and b == 7)
print (4, a == 7 and b == 7)
print (5, not a == 7 and b == 7)
print (6, a == 7 or b == 7)
print (7, a == 7 or b == 6)
print (8, not (a == 7 and b == 6))
print (9, not a == 7 and b == 6)

1 True
2 False
3 True
4 False
5 True
6 True
7 False
8 True
9 False

In [2]:
a = 20
if a >= 22:

   print("if")
elif a >= 21:
   print("elif")
else:
   print("else")

else

In [4]:
list = ['Ajay', 'Vijay', 'Ramesh']
if 'Vijay' in list:
    print ('Found Vijay')

Found Vijay

In [5]:
count = 0
while (count < 9):
   print ('The count is:', count)
   count = count + 1

print ("End of while loop!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
End of while loop!

In [9]:
count = 0
while (count < 9):
   count = count + 1
   print ("End of while loop!")

End of while loop!
End of while loop!
End of while loop!
End of while loop!
End of while loop!
End of while loop!
End of while loop!
End of while loop!
End of while loop!

In [10]:
for i in range(1,5,2):
    print (i)
#else:
#   print "The for loop is over"

1
3

In [12]:
for i in range(1,5,2):
  print (i)
else:
    print ("The for loop is over")

1
3
The for loop is over

In [16]:
#Traversing a list
#What is the output
numbers = [2, 3, 5]
sum = 0
for num in numbers:
    sum += num
print (sum)

10

In [14]:
numbers = [2, 3, 5]
getsum = [ i+2 for i in numbers ]
print (getsum)

[4, 5, 7]

In [17]:
for i in range(1,10):
       if i == 5:
           break
       print (i)
print('Done')

1
2
3
4
Done